// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin materialescolar {
  @include valo;

  $v-app-loading-text: "Materiais escolares";
	$v-font-family: "Lato", sans-serif;
	$v-app-background-color: #f2f2f2;
	$v-unit-size: 30px;
	$v-font-size: 14px;
	$v-component-group-spacing: 5px;
	$v-friendly-color: #2c9720;
	
 	 @include valo;

	.login_view{
		padding-left:   10px;
		padding-right:  10px;
		padding-top:    10px;
		padding-bottom: 10px;
		
		@include valo-panel-style;
	    @include animation(valo-animate-in-slide-up 800ms 10ms backwards, valo-animate-in-fade 600ms 100ms backwards);
	}

    .menu_item{
    	cursor: pointer;
    	background-color: #202020;
    }
    
    .menu_label{
        color: white;
        font-size: 13px;
        text-align:center;
    }
    
    .menu_item:hover{
    	background-color: #292929;
    	transition: opacity 300ms;
    }

	.page_animation{
		@include animation(valo-animate-in-fade 600ms 100ms backwards);
	}
	
	.titulo{
		font-size: 26px;
		border-bottom: 1px solid #464646; 
	}
	
	.menu_view{
		padding-left:   10px;
		padding-right:  10px;
		padding-top:    10px;
		padding-bottom: 10px;
		background-color: black;
		color: #ffffff;
		
	    @include animation(valo-animate-in-slide-right 800ms 10ms backwards, valo-animate-in-fade 600ms 100ms backwards);
	}
	
	
	.red{
		background-color: red;
	}
	.blue{
		background-color: blue;
	}
	
	.v-margin-left   {padding-left:  15px;}
	.v-margin-right  {padding-right:   15px;}
	.v-margin-top    {padding-top:   15px;}
	.v-margin-bottom {padding-bottom: 15px;}
}
